* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

.hero-image {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background: url('../../app/assets/images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

.hero-content {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.ini-button {
  width: 170px;
  height: 50px;
  margin-top: 40px;
  border-radius: 50px;
  outline: none;
  font-size: 15px;
  text-transform: capitalize;
  background-color: #0D73D3;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all ease .2s;
}

.ini-button:hover {
  border-color: #fff;
  color: #fff;
  background: transparent;
}

.container-button {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-telu {
  width: auto;
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px #000;
  outline: none;
  font-size: 15px;
  text-transform: capitalize;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
  transition: all ease .2s;

  &.active {
    background: #0D73D3;
    border-color: #fff;
    color: #fff;
  }

}

.button-telu:hover {
  border-color: #fff;
  color: #fff;
  background: #0D73D3;
}


.container-gambar {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
  columns: 5;
  column-gap: 20px;
}

.container-comment-detail {
  margin-top: 32px;
}

.container-gambar .box {
  width: 100%;
  margin-bottom: 20px;
}

.container-gambar .box .image {
  max-width: 100%;
  width: 400px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon-size {
  font-size: 30px;
}


.upload {
  &__Unggah {
    margin-top: 9%;
    justify-content: center;
  }

  &__judul-upload {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: fit-content;
    font-size: 36px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: left;
  }

  &__wrapper {
    margin: auto;
    max-width: 640px;
    padding-top: 10px;
    text-align: center;
  }


  &__upload-container {
    border-radius: 6px;
    padding: 10px;
  }

  &__border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 4px;
    padding: 20px;
  }

  &__border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 100px;
    margin-bottom: 0;
    opacity: 0.65;
  }

  &__file-browser {
    text-decoration: none;
    color: rgb(22, 42, 255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
  }

  &__file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
  }



  &__icon-upload {
    margin-top: 50px;
    height: 100px;
    width: 100px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__label-form {
    width: 100%;
    margin: auto;
    text-align: left;
    font-weight: bold;
  }

  &__upload-button {
    border: none;
    background-color: #0B60B0;
    border-radius: 25px;
    padding: 6.5px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 7%;

    &:hover {
      background-color: #0D73D3;
    }
  }

  &__preview-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.detail {
  &__container-detail {
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__gambar {
    position: relative;
    max-width: 1000px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 50px;
  }

  &__btn-download {
    background-color: #0B60B0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 275px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-download:hover {
    background-color: #2A83C9;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  @media (max-width: 576px) {
    &__btn-download {
      width: 120px;
      height: 20px;
    }
  }

  @media (max-width: 320px) {
    &__btn-download {
      width: 80px;
      height: 15px;
    }
  }

  &__button-unduh {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__button-grup {
    padding: 20px;
    margin: 10px;
  }

  &__like-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0B60B0;
    color: #fff;
    border: none;
    width: 75px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__like-button:hover {
    background-color: #3498db;
    /* Hover color */
  }

  &__like-button.liked {
    background-color: #e74c3c;
  }

  &__bagikan-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0B60B0;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__bagikan-button:hover {
    background-color: #3498db;
    /* Hover color */
  }

  &__bagikan-button.liked {
    background-color: #e74c3c;
  }

  &__simpan-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0B60B0;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__simpan-button:hover {
    background-color: #3498db;
    /* Hover color */
  }

  &__simpan-button.liked {
    background-color: #e74c3c;
  }


  &__rincian {
    position: absolute;
  }

  &__row-rinci {
    display: flex;
    line-height: 24px;
    gap: 8px;
    justify-content: space-between;
  }

  .subscribe {
    &__gambar-awal {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    &__judul-subs {
      margin-top: 20px;
      position: relative;
      transform: translateX(40%);
    }

    &__box {
      position: relative;
      overflow: hidden;
      padding: 20px;
      background: #f6f6;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 5px rgba(156, 156, 156, 0.6);
    }

    &__text-member {
      color: #ED7E11;
    }
  }
}

// .image-container {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   margin-left: 30px;
//   display: flex;
//   justify-content: center;
// }

.image-detail {
  position: relative;
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  margin-right: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-judul-gambar {
  margin-top: 20px;
  // margin-bottom: 10px;
}

.judul-gambar-detail {
  font-size: 30px;
  font-weight: 600;
}

.content {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 10px;
}

.content.active {
  background-color: #4CAF50;
  border: none;
}

.content .heart {
  font-size: 20px;
}

.heart:hover {
  color: red;
}

.like {
  margin-left: 10px;
}

.simpan {
  margin-left: 10px;
}

.bagikan {
  margin-left: 10px;
}

.unduh {
  margin-left: 10px;
}

.text-detail-kiri {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-detail-kanan {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.foto-profil {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto-profil .image-foto-profil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text-card-detail {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.text-card-detail-bawah {
  font-size: 15px;
  color: grey;
  margin-top: 5px;
}

.container-member {
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gifIcon {
  width: 40px;
  height: auto;
}

.text-gelar {
  margin-left: 10px;
}

.jumlah-comment {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.container-comment {
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foto-profil-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.foto-profil-comment .image-profil-comment {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-area-comment {
  position: relative;
  margin-left: 20px;
}

.text-area {
  width: 105%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 50px;
}

/* Button styling */
.send-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 6px 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: -25px;
  top: 7px;
}

/* Hover animation */
.send-button:hover {
  background-color: transparent;
  outline: 2px solid;
  color: black;
  border-color: grey;
}

/* Add some margin to improve spacing */
.button-container {
  margin-top: 6px;
  margin-left: 10px;
}

.username-detail {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  color: #000;
}

.tanggal-comment {
  margin-left: 5px;
  font-size: 14px;
  color: #656f79;

}

.button-comment {
  border: unset !important;
  background-color: transparent !important;
  color: #4CAF50 !important;
}


.card.card-details {
  border-radius: 24px;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}


.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.text-th {
  font-size: 16px;
  font-weight: 700;
}


.lds-ring-home {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.lds-ring-home div {
  box-sizing: border-box;
  display: block;
  width: 85px;
  height: 85px;
  margin: 8px;
  border: 8px solid #0D73D3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0D73D3 transparent transparent transparent;
}

.lds-ring-home div:nth-child(1) {
  animation-delay: -0.45s;
}


.lds-ring {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 320px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0D73D3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0D73D3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.album-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  background-color: #f5f5f5;
  margin-bottom: 12px;
}

.album-image-preview {
  border-radius: 100px;
  object-position: center;
  object-fit: cover;
  max-width: 50px;
  height: 100%;
  height: 50px;
}

.album-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.album-wrapper {
  display: flex;
  flex-direction: column;
}

.album-title {
  font-size: 18px;
  font-weight: bold;
}

.album-subtitle {
  font-size: 14px;
}

.album-checkbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.album-checkbox:checked {
  background-color: #0D73D3;
}

.album-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.album-button {
  font-size: 14px !important;
  color: white !important;
  max-height: 40px !important;
}

.like-container {
  position: relative;
  display: inline-block;
}

.like-button {
  cursor: pointer;
}

.heart-icon {
  vertical-align: middle;
}

.like-text {
  vertical-align: middle;
  margin-left: 5px;
}

.floating-heart {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateX(-50%);
  font-size: 24px;
  color: red;
  animation: floatUp 2s ease-in-out;
}

@keyframes floatUp {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}