* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
.gambar-beranda {
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 5%;
  height: 480px;
  justify-content: center;
}
.hero-image {
  justify-content: center;
  background: url("../../app/assets/images/foto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 100%;
  position: relative;
}

.hero-image::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* Adjust the transparency as needed */
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 2;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 46%;
}

.search-beranda {
  height: auto;
  width: 55%;
  margin: auto;
  background-color: #fdfdfd;
  position: absolute;
  padding: 16px;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 15px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 439px;
  left: 22.5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-beranda-label {
  text-decoration: bold;
}

.cari {
  width: 36%;
  font-size: 17px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.search {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.input-text {
  border: unset;
  min-width: 200px;
  font-size: 17px;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  padding-block: 1px;
  padding-inline: 2px;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  outline: none;
}

.input-text:focus {
  border-color: transparent; /* Remove border on focus */
}

.btn-filter {
  background: transparent;
  border: unset;
  padding: 0;
  color: var(--secondary-color);
  font-size: 16px;
  box-sizing: border-box;
}

.btn-filter.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: 0em;
  content: "";
  border-top: 0.6em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
button:not(:disabled) {
  cursor: pointer;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown {
  position: relative;
}

.dropdown::after {
  box-sizing: border-box;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 24px);
  float: left;
  min-width: 160px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 10rem;
  padding-x: 0;
  padding-y: 0.5rem;
  spacer: 0.125rem;
  bg: var(--bs-body-bg);
  item-padding-x: 1rem;
  item-padding-y: 0.25rem;
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu.show {
  display: block;
}

@media (max-width: 768px) {
  .cari {
    flex: 100%; /* Untuk membuat elemen penuh lebar pada layar kecil */
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ini-button {
  width: 170px;
  height: 50px;
  margin-top: 40px;
  border-radius: 50px;
  outline: none;
  font-size: 15px;
  text-transform: capitalize;
  background-color: #a9329d;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all ease 0.2s;
}

.ini-button:hover {
  border-color: #fff;
  color: #fff;
  background: transparent;
}

.container-button {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-telu {
  width: 10%;
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: all ease 0.2s;

  &.active {
    background: rgb(179, 0, 161);
    color: #fff;
  }
}

.button-telu:hover {
  color: primary;
}

.container-gambar {
  width: 90%;
  margin-left: 5%;
  margin-top: 8%;
  margin-right: 5%;
  margin-bottom: 5%;
  columns: 5;
  column-gap: 20px;
}

.container-comment-detail {
  margin-top: 32px;
}

.container-gambar .box {
  width: 100%;
  margin-bottom: 20px;
}

.container-gambar .box .image {
  max-width: 100%;
  width: 400px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
z .icon-size {
  font-size: 30px;
}

.edit {
  margin-top: 6%;
  margin-bottom: 5%;
}
.upload {
  &__Unggah {
    margin-top: 9%;
    justify-content: center;
  }
  &__judul-upload {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: fit-content;
    font-size: 36px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: left;
  }

  &__wrapper {
    margin: auto;
    max-width: 640px;
    padding-top: 10px;
    text-align: center;
  }

  &__upload-container {
    border-radius: 6px;
    padding: 10px;
  }

  &__border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 4px;
    padding: 20px;
  }

  &__border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 100px;
    margin-bottom: 0;
    opacity: 0.65;
  }

  &__file-browser {
    text-decoration: none;
    color: rgb(22, 42, 255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
  }

  &__file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
  }

  &__icon-upload {
    margin-top: 50px;
    height: 100px;
    width: 100px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__label-form {
    width: 100%;
    margin: auto;
    text-align: left;
    font-weight: bold;
  }

  &__upload-button {
    border: none;
    background-color: #a9329d;
    border-radius: 25px;
    padding: 6.5px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 7%;
    &:hover {
      background-color: #a9329d;
    }
  }

  &__preview-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.detail {
  &__container-detail {
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__gambar {
    position: relative;
    max-width: 1000px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 50px;
  }

  &__btn-download {
    background-color: #a9329d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 275px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-download:hover {
    background-color: #a9329d;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  @media (max-width: 576px) {
    &__btn-download {
      width: 120px;
      height: 20px;
    }
  }

  @media (max-width: 320px) {
    &__btn-download {
      width: 80px;
      height: 15px;
    }
  }

  &__button-unduh {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__button-grup {
    padding: 20px;
    margin: 10px;
  }

  &__like-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a9329d;
    color: #fff;
    border: none;
    width: 75px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__like-button:hover {
    background-color: #a9329d;
    /* Hover color */
  }

  &__like-button.liked {
    background-color: #e74c3c;
  }

  &__bagikan-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a9329d;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__bagikan-button:hover {
    background-color: #3498db;
    /* Hover color */
  }

  &__bagikan-button.liked {
    background-color: #e74c3c;
  }

  &__simpan-button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a9329d;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 20px;
    /* Border radius for rounded corners */
    transition: background-color 0.3s ease;
  }

  &__simpan-button:hover {
    background-color: #3498db;
    /* Hover color */
  }

  &__simpan-button.liked {
    background-color: #e74c3c;
  }

  &__rincian {
    position: absolute;
  }

  &__row-rinci {
    display: flex;
    line-height: 24px;
    gap: 8px;
    justify-content: space-between;
  }

  .subscribe {
    &__gambar-awal {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    &__judul-subs {
      margin-top: 20px;
      position: relative;
      transform: translateX(40%);
    }

    &__box {
      position: relative;
      overflow: hidden;
      padding: 20px;
      background: #f6f6;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 5px rgba(156, 156, 156, 0.6);
    }

    &__text-member {
      color: #ed7e11;
    }
  }
}

// .image-container {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   margin-left: 30px;
//   display: flex;
//   justify-content: center;
// }

.image-detail {
  position: relative;
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  margin-right: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-judul-gambar {
  margin-top: 20px;
  // margin-bottom: 10px;
}

.judul-gambar-detail {
  font-size: 30px;
  font-weight: 600;
}

.content {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 10px;
}

.content.active {
  background-color: #a9329d;
  border: none;
}

.content .heart {
  font-size: 20px;
}

.heart:hover {
  color: red;
}

.like {
  margin-left: 10px;
}

.simpan {
  margin-left: 10px;
}

.bagikan {
  margin-left: 10px;
}

.unduh {
  margin-left: 10px;
}

.text-detail-kiri {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-detail-kanan {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.foto-profil {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto-profil .image-foto-profil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text-card-detail {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.text-card-detail-bawah {
  font-size: 15px;
  color: grey;
  margin-top: 5px;
}

.container-member {
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gifIcon {
  width: 40px;
  height: auto;
}

.text-gelar {
  margin-left: 10px;
}

.jumlah-comment {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.container-comment {
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foto-profil-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.foto-profil-comment .image-profil-comment {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-area-comment {
  position: relative;
  margin-left: 20px;
}

.text-area {
  width: 105%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 50px;
}

/* Button styling */
.send-button {
  background-color: #a9329d;
  color: #fff;
  border: none;
  padding: 6px 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: -25px;
  top: 7px;
}

/* Hover animation */
.send-button:hover {
  background-color: transparent;
  outline: 2px solid;
  color: black;
  border-color: grey;
}

/* Add some margin to improve spacing */
.button-container {
  margin-top: 6px;
  margin-left: 10px;
}

.username-detail {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  color: #000;
}

.tanggal-comment {
  margin-left: 5px;
  font-size: 14px;
  color: #656f79;
}

.button-comment {
  border: unset !important;
  background-color: transparent !important;
  color: #a9329d !important;
}

.card.card-details {
  border-radius: 24px;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4e5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #a9329d;
  background: transparent;
  color: #a9329d;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.text-th {
  font-size: 16px;
  font-weight: 700;
}

.icon-subscribe-kecil {
  font-size: 20px;
}

.judul-text-subscribe {
  font-size: 16px;
  font-weight: 700;
}

.harga-text-subscribe {
  font-size: 30px;
  font-weight: bolder;
}

.bulan-text-subscribe {
  font-weight: 900;
  font-size: 16px;
  color: grey;
  margin-left: 3px;
}

.jumlah-text-subscribe {
  font-size: 14px;
  font-weight: bolder;
  color: #7c7a7a;
}

.text-subscribe-pajak {
  font-size: 12px;
  color: #7c7a7a;
  margin-top: 5px;
}

.icon-bunder {
  margin-top: 20px;
  background-color: #d4f0ff;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.icon-detail-subs {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-size: 45px;
}
.iki-icon-telu {
  color: #a9329d;
}
.atas-subs {
  font-size: 20px;
  font-weight: 900;
}
.bawah-subs {
  text-align: center;
  font-size: 16px;
}
.text-subs-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gambar-subs {
  height: 100px;
  object-fit: cover;
  margin-bottom: 30px;
}

.judul-subs {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.sub-judul-subs {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.lds-ring-home {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.lds-ring-home div {
  box-sizing: border-box;
  display: block;
  width: 85px;
  height: 85px;
  margin: 8px;
  border: 8px solid #0d73d3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d73d3 transparent transparent transparent;
}

.lds-ring-home div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 320px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0d73d3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d73d3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.album-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  background-color: #f5f5f5;
  margin-bottom: 12px;
}

.album-image-preview {
  border-radius: 100px;
  object-position: center;
  object-fit: cover;
  max-width: 50px;
  height: 100%;
  height: 50px;
}

.album-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.album-wrapper {
  display: flex;
  flex-direction: column;
}

.album-title {
  font-size: 18px;
  font-weight: bold;
}

.album-subtitle {
  font-size: 14px;
}

.album-checkbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.album-checkbox:checked {
  background-color: #a9329d;
}

.album-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.album-button {
  font-size: 14px !important;
  color: white !important;
  max-height: 40px !important;
}

.like-container {
  position: relative;
  display: inline-block;
}

.like-button {
  cursor: pointer;
}

.heart-icon {
  vertical-align: middle;
}

.like-text {
  vertical-align: middle;
  margin-left: 5px;
}

.floating-heart {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateX(-50%);
  font-size: 24px;
  color: red;
  animation: floatUp 2s ease-in-out;
}

@keyframes floatUp {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}

.custom-dropdown .custom-toggle {
  color: #000;
  border: unset !important;
  background: transparent;
  padding: 0 !important;
}

.custom-dropdown .custom-toggle:hover,
.custom-dropdown .custom-toggle:focus,
.custom-dropdown .custom-toggle:active,
.custom-dropdown .custom-toggle:focus-visible {
  background: transparent !important;
  color: #000 !important;
}
