.column-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  border-radius: 20px;
}

.gambar-profile {
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 100px;
}

.row-btn {
  display: flex;
  margin: auto;
  justify-content: center;
}

.row-btn-prof {
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 2%;
}
.profile-btn {
  margin: auto;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  background-color: #A9329D;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
}

.img-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  width: auto;
  margin: auto;
  margin-top: 16px;
}

.img-daftar {
  margin: auto;
  padding: 15px;
  text-decoration: none;
  color: black;
}

.img-post {
  margin: auto;
  border-radius: 20px;
  width: 250px; /* Adjust as needed */
  height: 240px; /* Adjust as needed */
  object-fit: cover;
}

.card-gambar {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.img-title{
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  top: 80%;
  transition: all .5s ease-in;
  background-image: linear-gradient(to bottom, rgba(5,5,5,0), rgba(5,5,5,1));
}

.img-title p{
  text-align: center;
  justify-content: center;
  color: white;
  line-height: 2px;
  position: relative;
  top: 70%;
}

.card-gambar:hover .img-title{
  top: 0;
  transition: all .5s ease-out;
}

.card-gambar img {
  transition: scale(1) ;
  transition: all .3s ease-out;
}

.card-gambar:hover img{
  transform: scale(1.1);
  transition: all .3s ease-in;
}

.reaksi{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}