.icon-subscribe-kecil {
    font-size: 20px;
  }
  
  .judul-text-subscribe {
    font-size: 16px;
    font-weight: 700;
  }
  
  .harga-text-subscribe {
    font-size: 30px;
    font-weight: bolder;
  }
  
  .bulan-text-subscribe {
    font-weight: 900;
    font-size: 16px;
    color: grey;
    margin-left: 3px;
  }
  
  .jumlah-text-subscribe {
    font-size: 14px;
    font-weight: bolder;
    color: #7C7A7A;
  }
  
  .text-subscribe-pajak {
    font-size: 12px;
    color: #7C7A7A;
    margin-top: 5px;
  }
  
  .icon-bunder {
    margin-top: 20px;
    background-color: #D4F0FF;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
  .icon-detail-subs {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-size: 45px;
  }
  .iki-icon-telu {
    color: #A9329D;
  }
  .atas-subs {
    font-size: 20px;
    font-weight: 900;
  }
  .bawah-subs {
    text-align: center;
    font-size: 16px;
  }
  .text-subs-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gambar-subs {
    height: 100px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  .judul-subs {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .sub-judul-subs {
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .row-judul{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    justify-content: center;
  }